<html>
  <head>
    <title>Angular Farm</title>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div ng-app="angFarm">
      <div class="main" ng-controller="ProgressCtrl" tick>
        Money: {{game.money | currency : $ : 2}}
        <div class="land">
          <div ng-repeat="plot in plots">
            <div class="plot" ng-controller="PlotCtrl">
              <div class="bar" style="width: {{percent() | progressBarFilter}}"
                ng-click="clickPlot()">
                <span>{{percent() | progressFilter}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="lib/javascript/angular.min.js">
    </script>
    <script src="javascript/app.js"></script>
    <script src="javascript/controllers.js"></script>
    <script src="javascript/filters.js"></script>
    <script src="javascript/directives.js"></script>
  </body>
</html>